{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <br>
    <div class="container bg-dark p-5">
        <h3>Create your account</h3>
        <h5>Manage your clients</h5>
        <hr>
        <br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-primary w-100 btn-block p-2">Create account &nbsp; <i class="fa fa user" aria-hidden="true"></i></button>
        </form>
        <br>
        <div class="text-centre">
            <p>Already have an account?</p>
        </div>
        <br>
    </div>

{% endblock %}